.routes {
    display: block;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    font-size: 1.2em;
}

/* Geo suggest styling*/
.geosuggest__input {
    margin-bottom: 0;
}
.geosuggest__suggests {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.geosuggest-item {
    padding: .6em;
    border-left: 1px solid #0099cc;
    border-bottom: 1px solid #ccc;
    background: #fff;
    border-right: 1px solid #0099cc;
}

.geosuggest-item:first-child {
    border-top: 1px solid #0099cc;
    background: #0099cc;
    font-weight: bold;
    color: #fff;
}

.geosuggest-item:last-child {
    border-bottom: 1px solid #0099cc;
}

.geosuggest-item.geosuggest-item--active, .geosuggest-item:hover {
    background: #337ab7;
    color: #fff;
    cursor: pointer
}

.geosuggest-item-transfer {
    background: #F2F2F2;
    border-bottom: 0;
    border-right: 4px solid #0099cc;
}

.geosuggest-item-transfer.last{
    border-bottom: 1px solid #ccc;
}

/* starting location */

.input-starting-container{
    width: 93%;
    float: left;
}

.input-starting-container .geosuggest__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn.btn-no-left-corners {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.overflow {
    overflow: auto;
    height: 440px;
}

.mr {
    margin-right: 1em;
}
